<h1>Recipes</h1>

<%= link_to "New Recipe", new_recipe_path, class: "btn btn-primary mb-3" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Cook Time</th>
      <th>Difficulty</th>
      <th>Created by</th> <!-- Nueva columna -->
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.title, recipe %></td>
        <td><%= recipe.cook_time %> min</td>
        <td><%= recipe.difficulty %></td>
        <td><%= recipe.user.email %></td> <!-- Mostrar email del creador -->
        <td class="text-end">
          <% if user_signed_in? %>
            <%= link_to "Edit", edit_recipe_path(recipe), class: "btn btn-sm btn-outline-secondary" %>
            <%= link_to "Delete", recipe,
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                  class: "btn btn-sm btn-outline-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

